<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="http://localhost:4444/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<script src="https://kit.fontawesome.com/c7237ef290.js" crossorigin="anonymous"></script>
    <title>Consultation Framework</title>
    <script>
        const ROOM_ID = "<%= roomId %>";
        </script>
</head>
<body>
    <div id="wrapper">
        <div id = "time">
            Your queue position : 3
        </div>
    <div id="video-grid">
        <video id="video1">
            
        </video>
        <video id="video2">
            
        </video>
    </div>
    <div id="Status">Connecting....</div>
    <div id="control">
        <div id="disconnect">Disconnect</i></div>
        <div id="audio">audio</div>
        <div id="video">video</div>
        <div id="chat">chat</div>
        <div id="download">download</div>
        <div id="pay">pay</div>
    </div>
    <!-- <div id="chatbox">
        <span id="title">chat</span>
        <div id="messages">
            <ul>

            </ul>
        </div>
    </div> -->
    </div>
    
</body>
<script type="text/javascript" src="script.js"></script>
</html>