*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: block;
    overflow: hidden;
    background-image: url("https://wallpapercave.com/wp/wp2595609.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
header{
    height:50px;
    background-color: white ;
    width:100%;
}
#wrapper{
    /* margin : 10%; */
    width : 60%;
    margin : 50px 20% 0% 20%;
    position: relative;
    display : flex;
    justify-content: center;
}
video{
    object-fit : cover;
    border-radius  : 40px 0% 40px 0%;
}
#video-grid {
    margin : 0 auto;
    position: relative;
    width : 95%;
    height : 80vh;
    /* background-color: lightblue; */
    padding: 0% 2.5%;
    
}
#video2{
    position  : absolute;
    bottom :0;
    right: 2.5%;
    width : 95%;
    height : inherit;
    transition: width 1s;
}
#video1{
    width : 100%;
    height : inherit;
    background-color:white;
    border-radius : 15% 0% 40px 0%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    
}
#control {
    display : none;
    position : absolute;
    justify-content: center;
    width : 50%;
    bottom : 25px;
    padding : 0 5%;
    margin-bottom: 0;
    transition: margin-bottom 1s;
}
#control div{
    width : 60px;
    height : 60px;
    border-radius : 60px;
    /* border : 2px solid yellow; */
    margin : 0 auto;
    /* color : white; */
    display:flex;
    align-items: center;
    text-align: right;
    padding-left : -2px;
    transition: padding-bottom 0.5s ;
}
#control div:hover{
    padding-bottom: 20px;
}
#video-grid:hover + #control , #control:hover{
    display : flex;
    margin-bottom :0%;
}
img{
    width:60px;
    height:60px;
    border-radius: 60px;
}
#control div.title{
    color : white;
    background-color: deepskyblue;
    border-radius: 50%;
}