<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="StyleBeforeChat.css"> -->
    <script src="http://localhost:4444/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="peerjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"> -->
<!-- <script src="https://kit.fontawesome.com/c7237ef290.js" crossorigin="anonymous"></script> -->
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Consultation Framework</title>
    <script>
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        const ROOM_ID = "<%= roomId %>";
        function toggleChat(){
            const target = document.getElementById('chatImg');
            const chat = document.getElementById("chatdiv");
            console.log(chat);
            if (chat.style.width == "0px"){
                chat.style.width = "25%";
                target.setAttribute('class','fa-solid fa-comment-slash')
            }
            else{
                chat.style.width = "0px";
                target.setAttribute('class','fa-solid fa-comment')
            }
        }
        async function removeOverlay() {
            target = document.getElementById("overlay");
            console.log("remove overlay");
            target.setAttribute("src", "loaded.gif");
            target.setAttribute("style", "opacity : 0;");
            const func = async () => { await sleep(1000)
                target.setAttribute("style", "display:none;");
            }
            func()
            // target.setAttribute("style", "display:none;");
        }
        </script>
</head>
<body onload="removeOverlay()">
    <img id="overlay" src="loading.gif">
    <header>

    </header>
    <div id="wrapper">
    <div id="videoWrapper">
    
    <div id="video-grid">
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/129d4371043491.5bb79229cf4cb.gif" >
        <video id="video1">
        </video>
        <video id="video2">
        
        </video>
        
    </div>
    <div id="control">
        <!-- <div id="disconnect" title="Disconnect"><img onclick="disconnect()" src="https://cdn3.iconfinder.com/data/icons/basicolor-essentials/24/036_phone_call_hang-512.png" alt=""></div> -->
        <div id="disconnect" title="Disconnect"><i class="fa-solid fa-phone"></i></div>
        <div id="audio" title="Mute Audio"><i id="audioImg" onclick="toggleAudio()" class="fa-solid fa-microphone"></i></div>
        <div id="video" title="Stop Video" ><i id="videoImg" onclick="toggleVideo()" class="fa-solid fa-video"></i></div>
        <div id="chat" title="Enable Chat" ><i id='chatImg' onclick="toggleChat()" class="fa-solid fa-comment"></i></div>
        <div id="download" title="Download Prescription"><i class="fa-solid fa-file-prescription"></i></div>
        <!-- <div id="pay">pay</div> -->
    </div>
    </div>
    <div id="chatdiv">
        <div id="chatTitle">CHAT</div>
        <div id="chatBody">
            <div id="messages">
                
            </div>
            <input type="text"  id="message" name="message" placeholder="Write something here....">
        </div>
</div>
    <!-- <div id="Status">Connecting....</div> -->
    
    <!-- <div id="chatbox">
        <span id="title">chat</span>
        <div id="messages">
            <ul>

            </ul>
        </div>
    </div> -->
    
</body>
<script type="text/javascript" src="script.js"></script>
</html>